*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

.box {
  color: #fff;
  padding: 1em;
  text-align: center;
}

.box-message{
  padding: 1em;
  color: #fff;
  border-radius: 10px;
}

.box-channel-name{
  background-color: #ffffff;
  position: fixed;
  width: 250px;
  height: 5em;
}

.box-channel-name{
  background-color: #2A77AA;
  height: 5em;
}



.online-user-box{
  color: #333;
  border-bottom: 5px solid #f3f2f3;
}

.online-user-box{
  position: fixed;
  width: 250px;
  background-color: #ffffff;
}

.online-user-list{
  border-radius: 10px;
}

.online-user-box-list{
  color: #fff;
  padding: .3em;
  
}

.online-user-box-list li{
  height: 1px;
  
}

.online-user-box-list li{
  padding: 2em;
  background-color:  #ffffff;
  border-bottom: .5px solid black;
  color: #333;
}

.inner {
  position: absolute;
  width: 250px;
  display: flex;
  height: 4rem;
  bottom: 0;
  margin: 0 0 0;
  margin-top: 4rem;
  border-radius: 40px;
  background-color :#f2f2f2;
}

.avatar-online {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar{
  width: 40px;
  height: 40px;
  margin-top: 0.8rem;
  margin-left: .8rem;
  border-radius: 50%;
}
.channels-footer-details{
  margin-top: 1rem;
}
.username{
  padding-top: 5rem;
  margin-left: 2rem;
}


input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2;
}

.message-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.online-list {
  margin-top: 3.5rem;
  padding: 0px;
  list-style-type: none;
}

.online-list li{
  padding: .8em;
  margin-top: .2rem;
  background-color: #f2f2f2;
  border-bottom: .1em solid #A7A7A7;
}

.message-body{
  background-color: #f2f2f2;
  margin-left: 2rem;
  width: 40rem;
  height: auto;
  padding: .5rem;
  border-radius: 15px;
 
}


.message-list li {
  padding: .1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color:grey;
  
}

.Current-User{
  float: right;
}

/* Our Grid Code */

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns:  250px 1fr 250px;
  grid-template-rows: auto 1fr auto;
}

.header     { background-color: #ffffff; }
.teams      { background-color:#ffffff;; }
.channels   { background-color: #1d5174; }
.messages   { background-color:#f9f9fa; }
.write      { background-color: #f2f2f2; }

.teams {
  grid-column: 3;
  grid-row: 1 / 4;
  color: #333;
  overflow-y: scroll;
}


.channels {
  grid-column: 1;
  grid-row: 1 / 4;
  overflow-y: scroll;
}

.box-channel {
  color: #fff;
  padding: .3em;
  
  
}

.channel-list{
  margin-top: 4rem;
  list-style-type: none;
}

.channel-list li{
  padding: 2em;
  background-color:  #1d5174;
  color: #ffffff;
  border-bottom: .5px solid black;
}


.channel-list li:active{
  border-left: 5px solid #267aef;
}

.header {
  grid-column: 2;
  grid-row: 1;
  color: #333;
  border-bottom: 5px solid #f2f2f2;
}

.messages {
  grid-column: 2;
  grid-row: 2;
  padding: 0 1em;
  overflow-y: scroll;
}

.input {
  grid-column: 2;
  grid-row: 3;
}



.input input{
  border-radius: 25px;
}